<div class="card-category">
<h2><%= @list.name %></h2>

</div>

<ul>
  <p><% @list.bookmarks.each do |bookmark| %></p>
  <li><%= bookmark.comment %></li>
  <li><%= bookmark.movie.title %></li>
  <% end %>
</ul>

<p><%= link_to "return to lists", root_path %></p>
<p><%= link_to "create a new bookmark", new_list_bookmark_path(@list) %></p>
